body {
  margin: 0;
  box-sizing: border-box;
}

#profile {
  background-color: #f9b8b6;
  padding: 1em;
  margin: 1em;
}

#profile > img {
  outline: 0.3rem solid #fff;
  margin: 0.5em 0;
}

#profile > span {
  font-size: 1.3em;
  font-weight: 600;
  padding-bottom: 1em;
}

.card {
  border: 3px solid #006d9e;
  margin: 0.2rem;
}

img {
  width: 100%;
}

header {
  background-color: #a7cddf;
  font-size: 2em;
  display: flex;
  justify-content: center;
}

@media all and (min-width: 500px){
  .card{
    display: flex;
  }

  .card img{
    width: 80%;
  }

  .card span{
    width: 20%;
    /* min-width: 50px; */
    padding: 5px;
  }

  .right img{
    order: 1;
  }
}

@media all and (min-width: 750px){
  #gallery{
    display: flex;
    flex-wrap: wrap;

  }

  .card{
    flex-direction: column;
    flex: 1;
  }

  .card img{
    width: 100%;
    min-width: 200px;
  }

  .card span{
    min-width: 150px;
    padding: 10px;
  }

  .right img{
    order: 0;
  }
}

@media all and (min-width: 1000px){
  #page-wrapper{
    display: grid;
    grid-template-columns: 210px 1fr;
  }

  #profile{
    height: 400px;
  }
}