#wrapper {
    font-size: 2em;
    gap: 1rem;
    padding: 0.5rem;
    font-weight: 300;
    /* Add new properties here */
    display: grid;
    grid-template-areas:
    "header header"
    "left aside"
    "main article"
    "right aside"
    "footer footer";
  grid-template-columns: 3fr  15fr 10fr;
  gap: 15px;
  background-color: #fff;
  padding: 1px;
  text-wrap: wrap;
    
}
/* Add new selectors and new CSS here */

#header{
    grid-column-start: 1;
    grid-column-end: 10;
}

 /* #left{ */
   
/* }  */

 #main{ 
    grid-column-start: 2;
    grid-column-end: 9;
    display: flex;
} 

 #right{ 
    display: flex;
}  

#footer{
    grid-column-start: 1;
    grid-column-end: 10;
}




/* DO NOT CHANGE ANYTHING BELOW THIS LINE  */
#wrapper > * {
    background-color: #ddd;
    min-height: 15vh;
    padding: 0.5em;
}

article {
    height: 85vh;
}