*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    /* box-sizing: border-box; */
}
body{
    font-family: "Roboto", serif;
    /* background-color:hsl(0, 0%, 100%); */
    color:white  ;
    background-color:#1f2641 ;
    line-height: 1.7;
    /* #2e3267
    #424890 */
}
 img{
    width: 5rem;
    height: 5rem;
    margin-left: 10px;
    margin-bottom: 5px;
    border-radius: 30px;
}
.navbar{
    width: 100vw;
    background-color: hsl(227, 40%, 18%);
    font-size: 1.5rem;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
    /* height: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center; 
}


#search{
    margin: 0;

}
#search form{
    display: flex;
    
}
#search input{
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
    width: 200px;
    border-radius: 20px;
}
#search button{
    font-size: 1.2rem;
    background-color:black;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 18px;
    margin: 2px;
}
#search button:hover{
    background-color: #0CFFBA;
    transition:all 500ms ease;
}
.navbar-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 50px;
    gap: 2rem;
   
}
.navbar-menu li a{
    color: white;

}
.navbar-menu li a:hover{
    background-color:#0CFFBA;
    transition:all 500ms ease;
}
.navbuttons{
    display: none;
}
/*-- ----------------the end of the head/nav bar........ */
section{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    /* grid-template-areas: ; */


}
.sidebar{
    margin-top: 5.5rem;
    position: fixed;
    font-size: 1.3rem;
    margin-left: 10px;
    border: 2px solid black;
    height: 450px;
    background-color: rgb(90, 83, 83);
    
}
.sidebar ul li {
    color: white;
    padding: 10px;
}

.sidebar ul li a{
    color: white;
}
.sidebar ul li a :hover{
    background-color:#0CFFBA;
    transition:all 500ms ease;
}
/*-- ----------------the end of the side bar........ */

/*-- ----------------styles for profile doc........ */
.profile-section{
    margin-top: 5rem;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
    /* gap: 3rem; */
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}  
/* .profile-details h2{
    margin-top: 0;
    margin-left: 100px;
    color: blue;
} */

.profile-items ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background-color: black;
    border-radius: 30px;
}
.profile-items ul li{
    /* background-color: red; */
    margin: 0;
    padding: 15px;
    
}
.profile-items ul li a{
    color: white;
    font-size: 1.5rem;
   
    /* border: 1px solid #0CFFBA; */
    /* margin: 5px; */
}
.profile-items ul li a:hover{
    background-color:#0CFFBA;
    transition:all 500ms ease;
    border-radius: 10px;
    /* padding: 5px; */

}
