#wrapper {
    font-size: 2em;
    gap: 1rem;
    /* Add new properties here */
    display: grid;  
    grid-template-areas:   
        "header header header"  
        "left main right"  
        "footer footer footer";  
    grid-template-columns: 2fr 8fr 3fr; 
    grid-template-rows: 20vh 1fr auto; 
    gap: 1rem; 
    height: 100vh; 


}

/* Add new selectors and new CSS here */
#header {  
    grid-area: header;   
    color: black;  
    padding: 19px;  
    
}  

#left {  
    grid-area: left;   
    padding: 20px;  
}  

#main {  
    grid-area: main;  
    padding: 20px;  
}  
#right {  
    grid-area: right;  
    padding: 20px;  
}  
#footer {  
    grid-area: footer;   
    color: black;  
    padding: 19px;  
    
}  


/* DO NOT CHANGE ANYTHING BELOW THIS LINE  */
#wrapper > * {
    background-color: #ddd;
    min-height: 15vh;
    padding: 0.5em;
}

article {
    height: 85vh;
}