#wrapper {
  font-size: 2em;
  gap: 1rem;
  
  /* Add new properties here */
 display: grid;
 text-align: center;
 
  grid-template-areas:
  'header header header header header header '
  'left-aside  main main main main right-aside '
  'footer footer footer footer footer footer ';
}



/* Add new selectors and new CSS here */

#header{
  grid-area: header;
  

}


#left{
  grid-area: left-aside;
}

#main{
  grid-area: main;
}

#right{
  grid-area: right-aside;
}

#footer{
  grid-area: footer;
}

/* DO NOT CHANGE ANYTHING BELOW THIS LINE  */
#wrapper > * {
  background-color: #ddd;
  min-height: 15vh;
  padding: 0.5em;
}

article {
  height: 85vh;
}

