body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  background-color: lightgray;
}
.dark-mode {
  color: white;
  background-color: grey;
}

button {
  font-size: 1.5rem;
  padding: 0.5rem;
}