body{
    height: 40px;
}
.flex-parent {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:end
}
.box {
    height: 100px;
    width: 100px;
    background-color: orchid;
    border: 2px solid navy;
    border-radius: 10%;
    font-size: 3em;
    color: white;
    margin: 10px;
}