body{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content min-content;
  gap: 5px;
}

h1{
  grid-row: 1;
  text-align: center;
}

#mode-btn{
  grid-row: 2;
  justify-self: center;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

button{
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 150px;
  background-color: #6B7280;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover{
  background-color: #6b7280c0;
}

/* .whiteText{
  color: #f0f6fc;
}

.blackBackground{
  background-color: #0d1118;
}

.blackText{
  color: #262626;
}

.whiteBackground{
  background-color: #fffff1;
} */

.darkMode{
  background-color: #0d1118;
  color: #f0f6fc;
}

.ligthMode{
  background-color: #fffff1 ;
  color: #262626;
}
