body {
  margin: 0;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 1rem;
}

button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dark-mode {
  background-color: #333;
  color: white;
}
