body{
    flex-wrap: wrap;
    flex-direction: column;
    background-color: peru;
    margin: 100px;
    color: lemonchiffon;
    font-family: Arial, Helvetica, sans-serif;
    /* text-wrap: inherit; */
    

    
}





.container_one{
    border: 5px solid peachpuff;
    padding: 10px;
    margin: 50px;
    color: lemonchiffon;
}

.images_of_nigeria{
    background-color: rgba(228, 220, 245, 0.37);
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    margin: 100px;
    /* flex-direction: column; */
    flex-wrap: wrap;
    @media screen {flex-wrap: wrap;
        
    }

}
img{
    width: 300px;
    height: 400px;
    margin: 60px;
    flex-wrap: wrap;
    
}
#special_p a{
    color: brown;
    text-decoration: none;
    

}