
.title { 
    color:darkolivegreen
}
img {
    width: 400px;
    margin: 20px;
    padding: 10px;
    border: 10px solid black;
    border-radius: 10px;
 }
 body {
    background-color:bisque;
     font-family: sans-serif;
     font-size: medium;
 }
 a {
    color:darkgreen;
 }
 #block-wrapper {
    background-color:burlywood;
    margin: 10px;
    padding: 10px;
 }